.profile-picture {
  width: 400px !important;
}
.team-picture {
  width: 150px;
  height: 150px;
}
.team-question-details {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 10px 0 0 20px;
}
.float-right {
  float: right;
}
